{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Treadmill Deals</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Treadmill Deals</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Privacy Policy</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/jog1.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Treadmill Deals</h3>
            <p>Fantastic Deals on Treadmills</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/jog2.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Run Your Way to a better you!</h3>
            <p>The perfect way to get into shape is with a treadmill.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/jog3.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Find the lowest prices online</h3>
            <p>Make your hard earned money go the distance!</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Treadmill Deals</h1>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://m.media-amazon.com/images/I/81GLSjnfAOL._AC_UY327_FMwebp_QL65_.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.amazon.com/NordicTrack-Commercial-1750-1-Year-Membership/dp/B07JQL9FPD/ref=sr_1_2?dchild=1&keywords=NordicTrack+Commercial+Series+Treadmills+%2B+1+year+iFit+membership+%28%24396+value%29&qid=1603151724&s=sporting-goods&sr=1-2">NordicTrack Commercial Series Treadmills + 1 year iFit membership ($396 value)</a>
            </h4>
            <p class="card-text">Bring Home Interactive Personal Training powered by iFit; 1-year iFit family membership included; create up to 5 individual exercise profiles; Access live, studio, and global workouts ($468 value)
Immersive 10-inch interactive HD touchscreen streams on-demand iFit workouts directly to your equipment and provides easy stats tracking; SMART-Response motor for effective running and cardio training
-3 to 15 % OneTouch incline control; 12 MPH SMART OneTouch speed control; Your iFit trainer auto-adjusts your speed and incline to meet trainer requirements and match real-world terrain
Innovative SpaceSaver design with EasyLift Assist means your treadmill can fold up after your run for compact, simple storage; 22” x 60” tread belt for leg and elbow space; Runners Flex cushioning
300-pound user capacity; Protected with a 10-year frame warranty, 2-year parts warranty, and 1-year labor warranty; 62.75” H x 39.25” W x 81.25” L</p>
          <a class="btn btn-primary" href="https://www.amazon.com/NordicTrack-Commercial-1750-1-Year-Membership/dp/B07JQL9FPD/ref=sr_1_2?dchild=1&keywords=NordicTrack+Commercial+Series+Treadmills+%2B+1+year+iFit+membership+%28%24396+value%29&qid=1603151724&s=sporting-goods&sr=1-2" role="button">$1998</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://m.media-amazon.com/images/I/61PoSwn4OLL._AC_UY327_FMwebp_QL65_.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.amazon.com/ADVENOR-Treadmill-Motorized-Treadmills-Electric/dp/B089LDYZ6F/ref=sr_1_1?dchild=1&keywords=ADVENOR+Treadmill+Motorized+Treadmills+2.5+HP+Electric+Running+Machine+Folding+Exercise+Incline+Fitness+Indoor&qid=1603151804&s=sporting-goods&sr=1-1">ADVENOR Treadmill Motorized Treadmills 2.5 HP Electric Running Machine Folding Exercise Incline Fitness Indoor - Save $20 with coupon</a>
            </h4>
            <p class="card-text">About this item
Light-commercial Silent Powerful Motor: The 2.5 peak HP drive system can provide stable and extended speeds of 1 – 13km/h with special bearing very low noise when you choose any option of the 3 manual incline levels ( 1%, 3%, 4.5 %).
3-Independent LCD Screens Monitor : With high definition and contrast, Multi-functional (3 Independent Screens）LCD monitor could track your performance in the real-time data including Time, Speed, Pulse, Distance, Calories ,Heart Rate and various preset Programs, Body Fat (BMI). Thoughtful designed holder on the console allow to put your phone/ Ipad on the HOLDER to increase the immersive feeling of running.
Rich Pre-set Programs and Training Modes: 36 Preset programs provide different speeds to adapt to various aerobic exercise intensities; 3 User-defined programs could be set to achieve more training goals base on your needs.
Comfortable Running Belt & Superior Running Deck: 16.54’’ wide 5-layer Non-slip texture belt is made of PVC + polyester fiber + cotton yarn. High strength, No warping, No bending, No deformation,Wear resistance, Cold resistance, Ultra-quiet . The running deck fiberboard has multi-layer cushioning function and support horizontal and vertical multi-position shock absorption .Even Max User Weight: 220LBS ,you can still get stable and confortable running experience.
Easy to Move and Store with Folded Design & Transportation Wheels: Only one person can fold up the treadmill in a few seconds after finishing your workout and approximately 35% space could be saved. The 2 built-in transportation wheels make the treadmill easily be moved around and stored in small place at home.</p>
           <a class="btn btn-primary" href="https://www.amazon.com/ADVENOR-Treadmill-Motorized-Treadmills-Electric/dp/B089LDYZ6F/ref=sr_1_1?dchild=1&keywords=ADVENOR+Treadmill+Motorized+Treadmills+2.5+HP+Electric+Running+Machine+Folding+Exercise+Incline+Fitness+Indoor&qid=1603151804&s=sporting-goods&sr=1-1" role="button">$369.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/MaxKare-Treadmill-Pre-Set-Programs-Assembly/dp/B07L2T824H/ref=sr_1_13?dchild=1&keywords=treadmill&qid=1603116945&refinements=p_36%3A17431216011%2Cp_89%3AGYMAX&rnid=2528832011&s=exercise-and-fitness&sr=1-13"><img class="card-img-top" src="https://m.media-amazon.com/images/I/81Cwinmgg-L._AC_UY327_FMwebp_QL65_.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.amazon.com/MaxKare-Treadmill-Pre-Set-Programs-Assembly/dp/B07L2T824H/ref=sr_1_13?dchild=1&keywords=treadmill&qid=1603116945&refinements=p_36%3A17431216011%2Cp_89%3AGYMAX&rnid=2528832011&s=exercise-and-fitness&sr=1-13">MaxKare Folding Treadmill Electric Motorized Running Machine 17'' Wide Tread Belt w/Incline LCD Display and Cup Holder Easy Assembly with 15 Preset Programs Perfect for Home Use</a>
            </h4>
            <p class="card-text">About this item
MaxKare treadmill equipped with large LCD display and 15 Pre-set programs, easy One-touch operation helps you enjoy the joy of running at home. You can monitor real-time data for each exercise, including speed, time, calories, distance and heart rate.
MaxKare running machine is equipped with a powerful and pure copper motor which can not only bring you a silent running experience but also adjust the running speed from 0.5 to 8.5MPH
17 inch wide Multi-layer tread belt and world first whole machine anti-shock system can withstand a maximum weight of 220 pounds. Which bring a better running experience and at the same time protect your knees to the maximum to prevent injury during exercise.
Foldable design not only helps you easily assembly the treadmill, but also helps you to Store/Move the treadmill in small space.
We provide 24/7 friendly customer service, if you have any problem with our product, please fell free to contact with us through Amazon.</p>
          <a class="btn btn-primary" href="#" role="button">Check Price</a>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/Nautilus-T618-Treadmill/dp/B077J3F1DK/ref=sr_1_4?crid=VG78QLA4ABAP&dchild=1&keywords=treadmill&qid=1603150037&refinements=p_36%3A100000-&rnid=386589011&s=sports-and-fitness&sprefix=tread%2Csporting%2C186&sr=1-4"><img class="card-img-top" src="https://m.media-amazon.com/images/I/71sjklynzaL._AC_UL480_FMwebp_QL65_.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.amazon.com/Nautilus-T618-Treadmill/dp/B077J3F1DK/ref=sr_1_4?crid=VG78QLA4ABAP&dchild=1&keywords=treadmill&qid=1603150037&refinements=p_36%3A100000-&rnid=386589011&s=sports-and-fitness&sprefix=tread%2Csporting%2C186&sr=1-4">Nautilus Treadmill Series</a>
            </h4>
            <p class="card-text">Bluetooth connectivity, syncs with the Nautilus Trainer 2 App and other apps for fitness tracking
Sync with free downloadable Run Social App and run through 19 locations with 27 routes alongside people from all over the world in real time
15% motorized incline. Robust 6.89 centimeter crowned rollers
20" x 60" gym-quality running path
26 customized training programs</p>
<a class="btn btn-secondary" href="#" role="button">Check Price</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/Treadmill-Electric-Motorized-Bluetooth-Speakers/dp/B08BNLVV7D/ref=sr_1_9?crid=VG78QLA4ABAP&dchild=1&keywords=treadmill&qid=1603150037&refinements=p_36%3A100000-&rnid=386589011&s=sports-and-fitness&sprefix=tread%2Csporting%2C186&sr=1-9"><img class="card-img-top" src="https://m.media-amazon.com/images/I/51aibOe6wFL._AC_UL480_FMwebp_QL65_.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Teeker - Folding Treadmill Electric Motorized Running Machine with Bluetooth, Speakers and 3 Incline Options</a>
            </h4>
            <p class="card-text">[Quality Wide Belt Deck] The 16.5? x 47.5? wide tread belt allows you to stretch out your stride on the spacious deck, ideal for users of all heights so you'll be comfortable and unrestricted throughout your entire workout.
[Large LED display] Monitor your time, calories, distance, speed and heart rate easily and quickly using the large display positioned at the treadmill front and adjustable in design to accommodate different heights.
[Bluetooth & App Tracker] Stay motivated during your workout by connecting to the FitShow Personal Training Sports App via the treadmill where you can track your performance.
[Adjustable Incline and 8MPH Speed] With the quick touch of a button you can adjust your treadmill incline to manipulate workout intensity and also the overall speed ranging from 0.5-8MPH so you can see results fast.
[Space Saving Folding Design] Free up precious floor space by folding your treadmill up and out of the way when it's not in use with the easy folding feature and easily roll it using the built in transport wheels. Assembled Size: 56.9? x 22.8? x 45.1?. Folded Size: 36.6? x 22.8? x 47.2?. Weight Capacity: 264 LBS.</p>
              <a class="btn btn-secondary" href="#" role="button">Check Price</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/Bowflex-100501-BXT116-Treadmill/dp/B072MPR2TT/ref=pd_sbs_200_1/144-0160434-3734268?_encoding=UTF8&pd_rd_i=B0855NQLWR&pd_rd_r=c7c92f30-d816-42e2-a5cc-6f83dfac031a&pd_rd_w=YSZBc&pd_rd_wg=64OPG&pf_rd_p=b65ee94e-1282-43fc-a8b1-8bf931f6dfab&pf_rd_r=F8BNMN0EMG9553BXBHH1&psc=1&refRID=F8BNMN0EMG9553BXBHH1"><img class="card-img-top" src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6405/6405025_sd.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Bowflex BXT216 Treadmill</a>
            </h4>
            <p class="card-text">About this item
7. 5 inch color backlit LCD screen
Bluetooth connectivity for connecting to Bowflex JRNY the personalized coaching technology and other popular fitness apps
20" x 60" running surface, 2.75" rollers, and a 3.5 CHP motor for a great feel
9 intuitive “push and go” workout programs
One-touch adjustments for speeds up to 12MPH and motorized incline up to 15%</p>
                <a class="btn btn-secondary" href="#" role="button">Check Price</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Treadmill Deal of The Day!</h2>
        <p>MaxKare Electric Treadmill Foldable 17" Wide Running Machine 3 Levels Manual Incline 1.5 HP Power 12 Preset Program Easy Assembly Max Speed 7.5MPH with Large Display & Cup Holder for Home Use</p>
        <ul>
          <li>
            <strong>Brand - Max Care</strong>
          </li>
          <li>Highly Rated</li>
          <li>Power Source - Corded Electric</li>
          <li> 1.5 max horsepower</li>
          <li>12 Programs</li>
          <li>0.5 mph min speed.</li>
        </ul>
        <p>The MaxKare Treadmill is equipped with a large LCD display and 12 pre-set programs. You can monitor real-time data for each exercise; including speed, time, calories, distance and heart rate.</p>
        <p>This MaxKare treadmill offers a super quiet powerful pure copper motor with adjustable speeds from 0.5 to 7.5 MPH. The three manual incline levels of the running platform offer different workout intensities.</p>
         <p>The multi-level tread belt is 17 inches wide. The treadmill has the anti-shock system, allowing for a better running experience while helping to protect your knees and prevent injuries. The maximum weight of 220 pounds, suggested user weight under 186 Pounds due to the machine limit.</p>
         <p>Its foldable design not only helps you easily assemble the treadmill, but also helps you store or move it into small spaces. </p>
          <p>Its easy One-touch operation (3mph, 6mph) and Energy-saving 1.5 HP motor help you enjoy the joy of running at home. </p>
          <p>Save ad additional $15 with coupon - only on Amazon!</p>
          <a class="btn btn-secondary" href="https://www.amazon.com/MaxKare-Electric-Treadmill-Foldable-Assembly/dp/B082GBBS52/ref=sr_1_12?dchild=1&keywords=best+selling+treadmills&qid=1603204385&refinements=p_72%3A1248957011&rnid=1248955011&s=sporting-goods&sr=1-12" role="button">Only 279.99 + 15.99 Shipping</a>


      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="https://m.media-amazon.com/images/I/71TLituaO5L._AC_UL480_FMwebp_QL65_.jpg" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Treadmills are a great way to get into shape. Most offer multiple features and are easy to store. Shop Amazon to find the best-selling, highest-rated treadmills.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="https://www.amazon.com/s?k=best+selling+treadmills&rh=n%3A3375251%2Cp_72%3A1248957011&dc&qid=1603204385&rnid=1248955011&ref=sr_nr_p_72_1">Shop Treadmills on Amazon</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; PB Experimental Productions 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
